html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
body {background-color: black; color: white;}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: #fff700; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#response{
    background-color: #737575;
}

#responsediv{
    display: none;
}

#cpicker{
    display: none;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    /*background: #d3d3d3;*/
	background-image: url("/files/colour-temp-grad.png");
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    background: rgba(255, 255, 255, 1.0);
    height: 25px;
    border: 1px solid #CCC;
    width: 15px;
    cursor: move;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    background: rgba(255, 255, 255, 1.0);
    height: 25px;
    border: 1px solid #CCC;
    width: 15px;
    cursor: move;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}
/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    background: rgba(255, 255, 255, 1.0);
    height: 25px;
    border: 1px solid #CCC;
    width: 15px;
    cursor: move;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#selectedcolor {
    border:1px solid #e3e3e3;
    width: 5%;
    height: 40px;
    margin:auto;
}
#divpreview {
    border:1px solid #e3e3e3;
    width:80px;
    height:20px;
    margin:auto;
    visibility:hidden;
}
.colorTable, #colorhexDIV, #colorrgbDIV, #colorhslDIV, #colornamDIV {
    font-family:Consolas, 'Courier New', Courier, monospace;
}
#colorhexDIV, #colorrgbDIV, #colorhslDIV, #colornamDIV {
    font-size:18px;
}
#colorrgbDIV, #colorhslDIV {
display: none;
}
#wronginputDIV {
    text-align:left;
    position:absolute;
    margin:4px 10px;
    color:#a94442;
    display:none;
}
.has-error input{
    border:1px solid red;
}
#entercolorDIV input,#entercolorDIV button{
    height:28px;
	display: none;
}
#entercolort {
display: none;
}
#entercolorDIV input{
    width:80%;
    border:1px solid #d3d3d3;
    border-right:none;
}

.w3-table-all td {
    padding:4px;
}